{%  extends 'blog/base.html '  %}


{%  block content %}

<style>
    * {
        font-size:2.6vw;
    
    }
    
    input[type="submit"]
    {
        background-color:#fff;
        width:20vw;
    }
</style>

<h1> Resigter </h1>

<form method = "POST">
{%  csrf_token  %}

<input type = "text"   name="un"  placeholder="Enter username :"  required/>
<br><br>
<input type = "password"   name="pw1"  placeholder="Enter password :"  required/>
<br><br>
<input type = "password"   name="pw2"  placeholder="Confirm password :"  required/>
<br><br>
<input type="submit"  value="SignUp" /> 

<h2> {{  msg   }} </h2>



</form>

{%  endblock  %}